# Joins en Pandas

In [1]:
# magic function para hacer que los graficos de matplotlib se renderizen en el notebook.
%matplotlib notebook

import datetime as datetime
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

plt.style.use('default') # Make the graphs a bit prettier
plt.rcParams['figure.figsize'] = (15, 5)

In [2]:
people_data = {
        'subject_id': ['1', '2', '3', '4', '5'],
        'people_name': ['People A', 'People B', 'People C', 'People D', 'People E'],
}

df_a = pd.DataFrame(people_data, columns = ['subject_id', 'people_name'])

In [3]:
df_a

  subject_id people_name
0          1    People A
1          2    People B
2          3    People C
3          4    People D
4          5    People E

In [4]:
subject_data = {
        'subject_id': ['1', '2','200'],
        'subject_name': ['Subject 1', 'Subject 2', 'Subject 1500'],
}
df_b = pd.DataFrame(subject_data, columns = ['subject_id', 'subject_name'])

In [5]:
df_b

  subject_id  subject_name
0          1     Subject 1
1          2     Subject 2
2        200  Subject 1500

## Inner Join

Solamente tendremos los registros que tienen en comun el campo por el cual estamos haciendo el join en el dataframe.

In [6]:
pd.merge(df_a, df_b, on='subject_id', how='inner')

  subject_id people_name subject_name
0          1    People A    Subject 1
1          2    People B    Subject 2

## Left Join

Todos los registros del dataframe izquierdo estan en el resultado del join.

In [7]:
pd.merge(df_a, df_b, on='subject_id', how='left')

  subject_id people_name subject_name
0          1    People A    Subject 1
1          2    People B    Subject 2
2          3    People C          NaN
3          4    People D          NaN
4          5    People E          NaN

## Right Join
Todos los registros del dataframe derecho estan en el resultado del join.

In [8]:
# notar el cambio de orden de data frames
pd.merge(df_a, df_b, on='subject_id', how='right')

  subject_id people_name  subject_name
0          1    People A     Subject 1
1          2    People B     Subject 2
2        200         NaN  Subject 1500

## Outer/Full Join

Todos los registros ambos dataframes estan en el resultado del join.

In [24]:
pd.merge(df_a, df_b, on='subject_id', how='outer')

  subject_id people_name  subject_name
0          1    People A     Subject 1
1          2    People B     Subject 2
2          3    People C           NaN
3          4    People D           NaN
4          5    People E           NaN
5        200         NaN  Subject 1500